<h1>tuesday.sh</h1>
<% if user_signed_in? %>
  <p>Signed in as <%= current_user.email %></p>
  <p><%= button_to("Sign Out", destroy_user_session_path, method: :delete) %></p>
  <% else %>
  <p><%= link_to("Sign In", new_user_session_path) %></p>
<% end %>
